{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}

{% block body %}
<br style="user-select: auto;">
<h3 style="user-select: auto;">Some Useful websites links</h3>
<br>
<a href = 'https://youtu.be/JxzZxdht-XY'>  1) Django one shot (by code with harry)</a>
<br><a href = 'https://www.tutorialspoint.com/django/index.htm'>  2) Django tutorials by tutorialspoint </a>
<br><a href = 'https://www.geeksforgeeks.org/django-tutorial/'>  3) Django tutorials by geeksforgeeks</a>
<br><a href = 'https://realpython.com/tutorials/django/'>  4) Django tutorials by realpython</a>


{% endblock body %}
